.banner-carousel {
  .banner-carousel__slide {
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .slick-dots {
    bottom: 25px;

    li {
      button:before {
        font-size: 10px;
        color: #BDBDBD;
        opacity: 1;
      }

      &.slick-active button:before {
        color: #F8475F;
      }
    }
  }

}